.floatleft {
  float:left;
  margin-left: 60px;
}

.floatright {
  float:right;
  font-size: 14px;
  margin-right: 60px;
}

li.special_text {
  font-size: 24px;
  font-weight: 500;
}

ul {
  height:30px;
  padding: 18px;
}

li {
  display: inline;
  padding: 18px;
}

.work:hover{
  color: red;
}

.about:hover{
  color: red;
}

.archive:hover{
  color: red;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
}

p {
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid black;
  line-height: 10px;
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 90px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
}

p span {
  margin-left: -25px;
  background: white;
  padding: 3px 30px;
}

h1 {
  font-size: 75px;
  line-height: 110px;
  text-align: left;
  margin-top: 60px;
  margin-left: 94px;
  margin-right: 94px;
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 770px 770px;
  grid-template-rows: 770px 770px;
  justify-content: center;
  grid-gap: 25px;
}

.grid-container > div {
  padding-top: 42%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: white;
  background-color: rgb(160, 160, 160);
}

.flex-icons {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  border-top: 2px solid black;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
}

.fa {
  padding: 20px;
}

.copyright {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: black;
  margin-bottom: 25px;
}